VITE_SUPABASE_URL=https://bimxzxpamkrxdvieltsk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpbXh6eHBhbWtyeGR2aWVsdHNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0NjAyMzAsImV4cCI6MjA5NzAzNjIzMH0.U4r48YoQM5-1Nouz227tgfMTvvgBPEv6X0-35pycWvI
